/* =============================================================================
Global variables
========================================================================== */

$experimental-support-for-svg: true;

$baseline: 1.3em;
$font-size: 13px;
$font-color: #000;
$font-color-input: #000;
$font-family: sans-serif;

$bg-color: #FFF;

$link-color: #00e;

$heading-color: #000;