/* =============================================================================
Custom WP CSS Styles
========================================================================== */

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    padding: 0 5px 5px 0;
    margin: 0 20px 20px 0;
}

.alignright {
    float: right;
    padding: 0 0 5px 5px;
    margin: 0 0 20px 20px;
}

.wp-caption {
    border: 1px solid $link-color;
    text-align: center;
    padding: 5px;
    @include border-radius(4px);
}

.wp-caption img {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.wp-caption .wp-caption-text {
    font-size: 85%;
    margin: 0;
    padding: 3px;
    font-style: italic;
}